<h1>Welcom to exercises related to software engineering lecture </h1>
<%= button_to 'Check a Palindrome', palindrome_check_path, method: :get, class: 'btn btn-primary' %>
<br>
<%= button_to 'Play Rock-Paper-Scissors', rock_paper_scissors_check_path, method: :get, class: 'btn btn-primary' %>
<br>
<%= button_to 'Group Anagrams', anagrams_check_path, method: :get, class: 'btn btn-primary' %>
<br>
<%= button_to 'Dessert Checker', desserts_path, method: :get, class: 'btn btn-primary' %>
<br>